---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SocialIcon from '../components/SocialIcon.astro';
import Divider from '../components/Divider.astro';
import '@fontsource/fira-code';
---

<Layout title="tiff's links">
	<main>
	  <div>
	    <img src="https://res.cloudinary.com/twhiteblog/image/upload/ar_1:1,bo_2px_solid_rgb:f5f5f5,c_fill,co_rgb:ffffff,g_auto,q_80,r_max,w_300/v1674171747/factoryofsadness_neon_background_portrait_81ad677b-151c-4ef9-8cb0-d1fccd9a5e1c_cklgdp.webp" />
	  </div>
		<h1>tiff's <span class="text-gradient">links</span></h1>
		<p class="intro">
			Your least favorite dev's least favorite dev.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/twhite96/fork.healeycodes.com"
				title="Blog"
				body="My very opinionated thoughts on software. Currently being rewritten with Next.js."
			/>
			<Card
				href="https://www.tiffanywhite.dev/tag/shorts/"
				title="Shorts"
				body="Short notes about things I've found or read."
			/>
			<Card
				href="https://www.tiffanyrwhite.com/"
				title="WIP Portfolio"
				body="My portfolio site rewritten with Next.js and hosted on Vercel."
			/>
			<Card
				href="https://resume.tiffanyrwhite.com/"
				title="My resume"
				body="My CV rewritten with Astro.js."
			/>
			<Card
      href="https://tiffnotes.dev/"
      title="Notes"
      body="A collection of notes from Foam/Obsidian so I can Learn In Public™."
			/>
			<Card
      href="https://0xda.org/"
      title="The Untitled Pen Testing Blog"
      body="A place for me to do DevOpsSec experiments and talk about them."
			/>
    </ul>
    <br />
    <Divider />
    <p class="fun">
      For Fun
    </p>
    <ul role="list" class="link-card-grid">
			<Card
      href="https://www.backloggd.com/u/nogibullsh1t/"
      title="Games"
      body="A list of video games I'm enjoying."
			/>
      <Card
        href="https://letterboxd.com/sadsadsadiecat/"
        title="Letterboxd"
        body="Some crappy reviews I write about movies I watch."
      />
			<Card
				href="https://uses.tiff.tools"
				title="/uses"
				body="My gear."
			/>
    </ul>
	</main>
  <section id="social-icons" class="justify-center flex flex-row mb-2"> 
    <div class="mr-4">
      <SocialIcon icon="simple-icons:github" color="#181717" label="github" url="https://github.com/twhite96" />
    </div>
    <div class="mr-4">
      <SocialIcon icon="simple-icons:linkedin" color="#0A66C2" label="linkedin" url="https://linkedin.com/in/tiffanyrwhite" />
    </div>
    <div class="mr-4">
      <SocialIcon
        icon="fa-brands:stack-overflow"
        label="stack-overflow"
        color="#F58025"
        url="https://stackoverflow.com/users/3800146/tiffanywhitedev"
      />
    </div>
    <div class="mr-4">
      <SocialIcon
        icon="simple-icons:twitch"
        label="stack-overflow"
        color="#9146FF"
        url="https://tiffanywhite.live/"
      />
    </div>
    <div class="mr-4">
      <SocialIcon
        icon="simple-icons:youtube"
        label="youtube"
        color="#FF0000"
        url="https://www.youtube.com/@tiffanywhitedev"
      />
    </div>
    <div class="mr-4">
      <SocialIcon
        icon="simple-icons:mastodon"
        label="stack-overflow"
        color="#6364FF"
        url="https://hachyderm.io/@tiff"
      />
    </div>
  </section>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
  
  .fun {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
  }
	.intro {
	  line-height: 1.6;
  	margin: 1rem 0;
  	text-align: center;
  	font-size: 2rem;
    font-weight: 500;
  	padding: 1rem;
    border-radius: 0.4rem;
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
		font-family: Fira Code, monospace;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
	  font-family: Fira Code, monospace;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
  .gradient-line {
     margin: 0 0 50px 0;
     display: block;
     border: none;
     height: 1px;
     width: 100%;
     background: #0071B9;
     background: linear-gradient(to right, white, #ff1493, #2db4eb, #ff1493, white);
  }
	div {
    display: flex;
    justify-content: center;
  }

  img {
    width: 40%;
  }

</style>
